<div class="main-container border border-dark-subtle p-2">
  <h1>Searh Result</h1>
  <div class="list-group">
    <% @events.each do |event| %>
      <div class="event-list_items mt-2">
        <%= link_to event.name, event, class: 'list-group-item list-group-item-action custom_item' %>
        <%= button_to "Delete", event_path(event), method: :delete, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
